table {
    border-collapse: collapse;
    margin: 20px;
    border: 2px solid black;
}

caption {
    border: 2px solid black;
    border-bottom: none;
    padding: 8px;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.saturday,
.saturday-header,
.sunday,
.sunday-header {
    color: red;
}sunday,
.sunday-header {
    color: red;
}