:root {
	--general-text: #312C27;
	--accent-text: #1F1711;
	--general-bg: #FFF9F4;
	--accent-bg: #FFE0CB;
	--accent-color: #FFA55C;
	--transition: all .4s;
	--border-radius: 20px;
}

body {
	font-family: "Montserrat", "Arial", sans-serif;
	line-height: 1.5;
	color: var(--general-text);
	background: var(--general-bg);
}


.body--opened-menu {
	overflow: hidden;
}

.body--opened-modal {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}


.title {
	font-family: 'Gabriola';
	font-style: normal;
	font-weight: 400;
	font-size: 74px;
	line-height: 0.82;
	color: var(--accent-text);
}

.button {
	line-height: 1.6;
	font-size: 16px;
	font-weight: 500;
	background: var(--accent-color);
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 15px;
	height: 62px;
	transition: all 0.4s;
	width: 100%;
}

.button:hover {
	background: #FF9138;
}

/* ================================================= */


.modal {
	position: fixed;
	inset: 0;
	background: #00000070;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: all .6;
	padding: 15px;
}

.body--opened-modal .modal {
	opacity: 1;
	visibility: visible;
}

.modal__window {
	position: relative;
	background: var(--general-bg);
	border-radius: var(--border-radius);
	padding: 0 40px 40px;
	max-width: 380px;
	width: 100%;
	margin: 0 20px;
}


.modal__cancel {
	position: absolute;
	top: 20px;
	right: 20px;
}

.modal__cancel:hover path .modal__cancel:hover rect {
	transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
	stroke: #AC907A
}

.modal__img {
	margin-left: 13px;
	margin-bottom: 15px;
	margin-top: -65px;
	margin: -65px 0 15px 13px;
	min-width: 100%;
}

.modal__title {
	font-family: "Gabriola";
	font-size: 36px;
	line-height: .9;
	color: var(--accent-text);
	margin-bottom: 10px;
	text-align: center;
}

.modal__text {
	margin-bottom: 25px;
	text-align: center;
}

.modal__form {
	position: relative;
}

.modal__form-label {
	margin-bottom: 10px;
}

.field__input {
	border: 1px solid #AC907A;
	border-radius: 100px;
	padding: 19px 42px 19px 28px;
	display: block;
	width: 100%;
	font-style: 16px;
	margin-bottom: 10px;
	transition: var(--transition);
}

.field__input:hover {
	border-color: var(--accent-color);
}

.field__input::placeholder {
	color: #AC907A;
	transition: var(--transition);
}

.field__input:hover::placeholder {
	color: var(--accent-color);
}

.field {
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.field span {
	position: absolute;
	top: 6px;
	left: 28px;
	font-size: 11px;
	color: #AC907A;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition);
}

.field:focus {
	padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
	opacity: 1;
	visibility: visible;
}

/* ========================================================= */

.header {
	background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
	padding-top: 19px;
}

.header__top-inner {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.header__logo {
	max-width: 174px;
}

.container {}

.nav {}

.nav__list {
	display: flex;
	gap: 4vh 40px;
}

.nav__item {}

.nav__link {
	display: block;
	padding: 5px;
	position: relative;
	z-index: 1;
}

.nav__link::before {
	content: '';
	position: absolute;
	top: -8px;
	left: -13px;
	width: 34px;
	height: 34px;
	background: var(--accent-color);
	border-radius: 50%;
	z-index: -1;
	opacity: 0;
	transition: all .4s;
}

.nav__link:hover::before {
	opacity: 1;
}

.hero {
	padding: 50px 0 140px;
}

.hero__inner {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 30px;

}

.hero__content {
	max-width: 520px;

}

.hero__info {
	color: #B197B3;
	text-transform: uppercase;
	line-height: 1.6;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
}

.hero__info span {
	display: flex;
	align-items: center;
}

.hero__info span::after {
	content: '';
	background: #B197B3;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	margin-left: 0 10px;
}

.hero__info span:last-child:after {
	content: none;
}

/* .hero__title {
	font-family: 'Gabriola';
	font-style: normal;
	font-weight: 400;
	font-size: 74px;
	line-height: 0.82;
	margin-bottom: 30px;
} */

.hero__text {
	margin-bottom: 40px;
	max-width: 360px;
}

.hero__button {
	max-width: 360px;
}


.hero__img {
	margin-right: 247px;
	position: relative;
}

.hero__img>img {
	width: 100%;
}

.hero__img-control {
	position: absolute;
	bottom: 11%;
	left: calc(100% - 39px);
	display: flex;
	gap: 10px;
	align-items: center;
	max-width: 200px;
	text-align: left;
}

.hero__img-button {
	background: #FFE0CB;
	box-shadow: 0px 4px 20px rgb(184, 148, 126, 0.3);
	border-radius: 50%;
	width: 78px;
	height: 78px;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	position: relative;
}

.hero__img-button::before {
	content: '';
	position: absolute;
	border: 1px solid var(--accent-color);
	inset: 5px;
	border-radius: 50%;

	opacity: 0;
	transition: var(--transition);
}

.hero__img-button img {
	padding-left: 8.8%;
}

.hero__img-button:hover:before {
	opacity: 1;
}


.hero__img-button::before {
	content: '';
	position: absolute;
	/* background: var(--accent-color); */
	border-radius: 50%;
	opacity: 0;
	transition: all .4s;
	inset: 5px;
}

.hero__img-button:hover::before {
	opacity: 1;
}

.header__hero {
	padding: 50px 0 140px;

}

/* ========================================================== */


.about {
	padding: 80px 0;
}

.about__inner {
	display: grid;
	grid-template-columns: 1fr 1.05fr;
	grid-template-columns: repeat(2, auto);
	gap: 40px 53px;

}

.about__img {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	grid-row: 1/-1;
}

.about__img>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	offset-position: 0 50%;
}

.about__img-control {
	position: absolute;
	bottom: 7%;
	left: 5%;
	display: flex;
	gap: 10px;
	align-items: center;
	max-width: 300px;
	text-align: left;
	background: #957b97e6;
	border-radius: 20px;
	padding: 15px 20px;
	color: var(--general-bg);
}

.about__img-button {
	background: var(--general-bg);
	border-radius: 50%;
	width: 78px;
	height: 78px;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	position: relative;
}

.about__img-button::before {
	content: '';
	position: absolute;
	border: 1px solid var(--accent-color);
	inset: 5px;
	border-radius: 50%;
	box-shadow: 0px 4px 20px #CEAAD0;
	opacity: 0;
	transition: var(--transition);
}

.about__img-button:hover:before {
	opacity: 1;
}

.about__body {}

.about__heading {
	margin-bottom: 30px;
}

.about__title {
	/* font-family: "Gabriola";
	font-style: normal;
	font-weight: 400;
	font-size: 74px;
	line-height: 0.82; */
	color: var(--accent-text);
}

.about_title-text {}

.about__text {
	margin-bottom: 40px;
}

.about__grid {
	display: grid;
	gap: 32px;
	grid-template-columns: repeat(2, 1fr);

}

.about__grid-item {
	background: var(--accent-bg);
	border-radius: 20px;
	padding: 29px 24px;
	display: flex;
	gap: 15px;
	align-items: center;
}

.about__grid-img {
	border: 1px solid var(--general-text);
	border-radius: 50%;
	width: 60px;
	flex-shrink: 0;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-text {}


/* --------------------------------------------- */
.footer {
	color: var(--general-bg);
	background: #AB8261;
	padding: 60px 0 66px;
}

.footer__inner {
	display: grid;
	gap: 40px 15px;
	justify-content: space-between;
	grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__col:first-child {
	margin-top: -30px;
}

.footer__logo {
	display: block;
	max-width: 240px;
}

.footer__logo img {
	width: 100%;
}

.footer__logo-text {
	margin-bottom: 20px;
}

.footer__col-list {
	margin-top: -5px;
}

.footer__col-item {
	margin-bottom: 10px;
}

.footer__col-item:last-child {
	margin-bottom: 0;
}

.footer__col-link {
	display: block;
	padding: 5px 0;
	position: relative;
	z-index: 1;
}

.footer__col-link::before {
	content: '';
	position: absolute;
	top: -8px;
	left: -13px;
	z-index: -1;
	width: 34px;
	height: 34px;
	background: var(--accent-color);
	border-radius: 50%;

	opacity: 0;
	transition: var(--transition);
}

.footer__col-link:hover::before {
	opacity: 1;
}

/* .footer__contact-list {} */

.footer__contact-item {
	margin-bottom: 10px;
}

.footer__contact-item:last-child {
	margin-bottom: 0;
}

.footer__col-tel {
	margin-bottom: 47px;
}

.footer__col-number {
	display: block;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.6;
	transition: var(--transition);
}

.footer__col-number:hover {
	color: var(--accent-color);
}

.footer__col-copy {
	color: #DEC5B1;
}

.socials {
	line-height: 0;
}

.socials__list {
	display: flex;
	gap: 15px;
}

.socials__item {}

.socials__link path {
	transition: var(--transition);
}

.socials__link:hover path {
	fill: var(--accent-color);
}

/* делаю иконки анимированными, так как они идут в формате img */

.socials__link img {
	transition: var(--transition);
	filter: brightness(0) invert(1);
}

.socials__link:hover img {
	filter: brightness(0) invert(70%) sepia(50%) saturate(500%) hue-rotate(330deg);
	transform: scale(1.1);
	opacity: 0.8;
}


/* ====================================================================================== */

.burger-icon {
	display: none;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	z-index: 11;
}

.burger-icon span {
	position: relative;
}

/* ============================== */

@media (max-width: 900px) {
	.nav {
		background: var(--general-bg);
		position: fixed;
		inset: 0;
		z-index: 10;
		padding: 100px 15px 30px;
		font-size: 24px;

		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.4s;
	}

	.nav__list {
		flex-direction: column;
		align-items: center;
	}

	.burger-icon {
		display: flex;
	}
}

.burger-icon span::before,
.burger-icon span::after {
	content: '';
	width: 30px;
	height: 3px;
	border-radius: 100px;
	display: block;
	background: var(--general-text);
	position: absolute;
}

.burger-icon span::before {
	top: -8px;
}

.burger-icon span::after {
	bottom: -8px;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
	width: 30px;
	height: 3px;
	border-radius: 100px;
	display: block;
	background: var(--general-text);

}

.body--opened-menu .nav {
	transform: translateY(0%);
	opacity: 1;
	visibility: visible;
}

.burger-icon span {
	position: relative;
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 100px;
	background: var(--general-text);
	transition: all 0.4s;
}

.burger-icon span::before,
.burger-icon span::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: var(--general-text);
	border-radius: 100px;
	transition: all 0.4s;
}

.burger-icon span::before {
	top: -8px;
}

.burger-icon span::after {
	bottom: -8px;
}


.body--opened-menu .burger-icon span {
	background: transparent;
}

.body--opened-menu .burger-icon span::before {
	top: 0;
	transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
	bottom: 0;
	transform: rotate(-45deg);
}

/* ====================== */



@media (max-width: 1200px) {
	.hero__img {
		margin: 0;
		max-width: 377px;
	}

	.hero__img-control {
		position: static;
		max-width: none;
		margin-top: 10px;
	}
}

@media (max-width: 1100px) {
	.about__img {
		grid-row: auto;
	}

	.about__body {
		grid-self: center;
	}

	.about__grid {
		grid-column: 1 /-1;
	}

}

@media (max-width: 900px) {
	.nav {
		position: fixed;
		inset: 0;
		z-index: 10;
		background: var(--general-bg);
		padding: 26vh 15px 30px;
		font-size: 24px;

		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
		transition: all .4s;
	}

	.nav__list {
		flex-direction: column;
		align-items: center;
	}

	.body--opened-menu .nav {
		transform: translateY(0%);
		opacity: 1;
		visibility: visible;
	}

	.burger-icon {
		display: flex;
	}

	@media (max-width: 900px) {
		.footer__inner {
			grid-template-columns: 1fr 1fr;
			gap: 30px 15px;
			text-align: center;
			justify-items: center;
		}

		.footer__col:first-child {
			margin-top: 0;
			align-items: center;
			grid-column: 1 / -1;
		}

		.socials__list {
			justify-content: center;
		}
	}

	@media (max-width: 600px) {
		.footer__inner {
			grid-template-columns: 1fr;
			gap: 30px;
			text-align: center;
		}

		.footer__col:first-child {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 40px;
		}

		.footer__logo {
			margin: 0 auto;
		}

		.footer__logo-text {
			text-align: center;
		}

		.socials__list {
			justify-content: center;
		}

		.footer__col-list,
		.footer__contact-list {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.footer__col:nth-child(3) {
			margin-bottom: 10px;
		}

		.footer__col:nth-child(2) {
			margin-bottom: 40px;
		}

	}

	.footer__col-tel {
		text-align: center;
	}
}

@media (max-width: 800px) {

	.hero__content {
		max-width: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
	}

	.hero__img {
		display: none;
	}

	.hero__img-control--mobile {
		display: flex;
		margin: 0 0 30px;
	}

	/* ----------------------- */
	git add . git commit -m "Ваше сообщение"

	git push origin main .about__inner {
		grid-template: none;
	}

	.about__img {
		max-width: 500px;
		justify-self: center;
	}

	.about__body {
		text-align: center;
	}

	.about__grid {
		grid-template: none;
	}

}

@media (max-width: 600px) {

	.main_about {
		padding: 60px 0 80px;
	}

	/* ======================= */

	.header__hero {
		padding-bottom: 80px;
	}

	.hero__title {
		font-size: 12vw;
	}

	.about__title {
		font-style: 12vw;
	}

	.about__img-control {
		bottom: 0;
		left: 0;
		right: 0;
		min-width: none;
		border-radius: 0;
		padding: 10px 15px;
	}

	.about__grid-item {
		padding: 10px 15px;
	}

	.about__grid {
		gap: 15px;
	}


}

@media (max-width: 450px) {
	.modal__window {
		width: 50%;
		margin-top: -45px;
	}

	.modal__title {
		font-size: 35px;
	}

	.modal__window {
		padding: 0 15px 45px;
	}
}